<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<autocategory_setting>
			<general>
				<enable>1</enable>
				<newrange>5</newrange>
				<cron>5</cron>
			</general>
		</autocategory_setting>
	</default>
</config>