<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="icube_final_event_sale">
        <observer name="icube_final_observer_sale" instance="Icube\Training\Observer\SaleProduct" />
    </event>
</config>