<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sale_submit_after">
        <observer name="sale_observer_after" instance="Icube\AutoCategory\Observer\Productsaveafter" />
    </event>
	
</config>